*.mp4 filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
path/to/large/folder/* filter=lfs diff=lfs merge=lfs -text
/Users/stu57004/Documents/RNG/node_modules filter=lfs diff=lfs merge=lfs -text
